* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Top-bolos-da-feirinha-da-esquina {
    color: blue;
    border-style: solid;
    background-color: black;
}

#Top-linhas-do-HTML {
    color: red;
    border-style: solid;
    background-color: black;
}

#Top-linhas-do-HTML li::marker {
    font-size: 25px;
    color: rgb(255, 255, 255);
}