* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sla1 {
    color: blue;
    border-style: solid;
    background-color: black;
}

#sla2 {
    color: red;
    border-style: solid;
    background-color: black;
}

#sla2 list::marker {
    font-size: 24px;
    color: antiquewhite;
}